.menu-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  color: #fff;
  cursor: pointer;

  .menu-item-icon-wrapper {
    padding: 0px 10px 0px 10px;
    font-size: 20px;
  }

  .menu-item-title {
    font-weight: bold;
    font-size: 16px;
  }

  &:hover {
    color: #ffd55d; 
  }
}